<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Client</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="{{ asset('js/client.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>

        <div ng-app="myApp" ng-controller="contactController">
            <form>
                <div class="form-group col-md-2" style="margin-top: 3%">
                    <label for="login">Login:</label>
                    <input type="text" class="form-control" id="login" ng-model="login">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" ng-model="password">
                    <button type="button" class="btn btn-default btn-sm" ng-click="addToken()">Connexion</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteToken()">Deconnexion</button>
                </div>
            </form> 
            <form>
                <div class="form-group col-md-2" style="margin-top: 3%">
                    <label for="recherche">Recherche:</label>
                    <input type="text" ng-model="filtreContact" class="form-control" id="recherche">
                </div>
            </form>
            <div class="row">
                <div class="col-md-8" style="margin-top: 3%">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Civilite</th>
                                <th>Prenom</th>
                                <th>Nom</th>
                                <th>Date de naissance</th>
                                <th>Rue</th>
                                <th>Code postal</th>
                                <th>Ville</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contact in contacts | filter:filtreContact">
                                <td>{% verbatim %}{{ contact.id}}{% endverbatim %}</td>
                                <td>
                                    <input type="text" class="form-control input-sm" ng-show="contact.edit" ng-model="contact.civilite"/>
                                    <p ng-hide="contact.edit"> {% verbatim %}{{ contact.civilite}}{% endverbatim %}</p>
                                </td>
                                <td>     
                                    <input type="text" class="form-control input-sm" ng-show="contact.edit" ng-model="contact.prenom"/>
                                    <p ng-hide="contact.edit"> {% verbatim %}{{ contact.prenom}}{% endverbatim %}</p>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" ng-show="contact.edit" ng-model="contact.nom"/>
                                    <p ng-hide="contact.edit"> {% verbatim %}{{ contact.nom}}{% endverbatim %}</p>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" ng-show="contact.edit" ng-model="contact.dateNaissance"/>
                                    <p ng-hide="contact.edit"> {% verbatim %}{{ contact.dateNaissance}}{% endverbatim %}</p>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" ng-show="contact.edit" ng-model="contact.adresses[0].rue"/>
                                    <p ng-hide="contact.edit"> {% verbatim %}{{ contact.adresses[0].rue}}{% endverbatim %}</p>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" ng-show="contact.edit" ng-model="contact.adresses[0].codePostal"/>
                                    <p ng-hide="contact.edit"> {% verbatim %}{{ contact.adresses[0].codePostal}}{% endverbatim %}</p>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" ng-show="contact.edit" ng-model="contact.adresses[0].ville"/>
                                    <p ng-hide="contact.edit"> {% verbatim %}{{ contact.adresses[0].ville}}{% endverbatim %}</p>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteContact(contact.id)" ng-hide="contact.edit">Supprimer</button>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="editContact(contact)" ng-hide="contact.edit">Modifier</button>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="validateContact(contact)" ng-show="contact.edit">Valider</button>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="cancelContact(contact)" ng-show="contact.edit">Annuler</button>
                                </td>
                            </tr>
                            <tr>     
                                <td></td>
                                <td><input type="text" class="form-control" input-sm ng-model="newContact.civilite" placeholder="Civilite"/></td>
                                <td><input type="text" class="form-control" input-sm ng-model="newContact.prenom" placeholder="Prenom"/></td>
                                <td><input type="text" class="form-control" input-sm ng-model="newContact.nom" placeholder="Nom"/></td>
                                <td><input type="text" class="form-control" input-sm ng-model="newContact.dateNaissance" placeholder="Date de naissance"/></td>
                                <td><input type="text" class="form-control" input-sm ng-model="newContact.adresses.rue" placeholder="Rue"/></td>
                                <td><input type="text" class="form-control" input-sm ng-model="newContact.adresses.codePostal" placeholder="Code postal"/></td>
                                <td><input type="text" class="form-control" input-sm ng-model="newContact.adresses.ville" placeholder="Ville"/></td>

                                <td><button type="button" class="btn btn-default btn-sm" ng-click="addContact()">Ajouter</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>